/* NAV BAR */
.navbar-light .navbar-nav .nav-link{
    color: grey;  
    /*font-size: 30px; */
}
.navbar-light .navbar-nav .nav-link:hover{
    color: rgb(62, 252, 242);
}

.button.navbar-toggler{
    background-color: white;
}

li{
    font-size: 25px;
    padding: 20px;
}

/* SECTIONS */

.section2{
    text-align: center;   
}

.section3{
    text-align: center;
}


/* HEADINGS */
#par1{
    font-size: 30px;
    color: rgb(163, 163, 163);
}
#par2{
    font-size: 100px;
    color: white;
}
#par3{
    font-size: 40px;
    color: rgb(163, 163, 163);
    width:50%;
    margin:auto;
}

.sec2par1{
    color:white;
    font-size: 35px;

}
.sec2par2{
    color:grey;
    font-size: 25px;
}

.sec3par1{
    color:orange;
    font-size: 20px;
}

.sec3par2{
    color:white;
    font-size: 60px;
}

.sec3par3{
    color:grey;
    font-size: 30px;
}

#activity{
    color: blue;
    font-size: 100px;
    background-color: rgba(0, 0, 255, 0.336);
    padding:10px;
    border-radius: 25px;
}

#map{
    color: red;
    font-size: 100px;
    background-color: rgba(255, 0, 0, 0.329);
    padding:10px;
    border-radius: 25px;


}


#cast{
    color: purple;
    font-size: 100px;
    background-color: rgba(128, 0, 128, 0.295);
    padding:10px;
    border-radius: 25px;


}



/* BUTTONS */
#navbutt1{
    padding: 10px;
    border-radius: 35px;
    border-style: none;
    font-size: 20px;
    background: rgb(14,0,255);
    color: white;
    background: linear-gradient(90deg, rgba(14,0,255,1) 0%, rgba(104,0,255,1) 23%, rgba(229,0,255,1) 48%, rgba(255,160,0,1) 100%)
}
#navbutt2{
    padding: 10px;
    border-radius: 35px;
    border-style: none;
    color: white;
    font-size: 20px;
    background: rgb(14,0,255);
    background: linear-gradient(90deg, rgba(14,0,255,1) 0%, rgba(104,0,255,1) 23%, rgba(229,0,255,1) 48%, rgba(255,160,0,1) 100%)
}
#butt1{
    padding: 20px;
    border-radius: 35px;
  
    border: none;
    font-size: 35px;
    background: rgb(14,0,255);
    background: linear-gradient(90deg, rgba(14,0,255,1) 0%, rgba(104,0,255,1) 23%, rgba(229,0,255,1) 48%, rgba(255,160,0,1) 100%); 
    color:white;
}
#butt2{
    padding: 20px;
    border-radius: 35px;
    border-style: solid;
    border-color: grey;
    border-width: 2px;
    background-color: transparent;
    color: white;
    font-size: 35px;
}

.sec4pics{
    width: 85%;
    height: 85%;
    border-radius: 20px;
}

.sec4container{
    padding: 30px;
    display: ;

}

.section4{
    display: grid;
}

